@page
@model Mission_06Easton.Views.Home.Index1Model
@{
}
<p>This is the form page it will have Jquery in it later</p>




@* //This is the form that will collect data about movie recomendations 
    

For the Rating field, use a dropdown menu (G, PG, PG-13, R).
o For the Edited field, we want that to be a yes/no (true/false) option.
o The “Edited”, “Lent To”, and “Notes” are not required to create a new
record. All other fields must be entered.
o Notes should be limited to 25 characters. (#notcoveredinthevideos) limit this on the database side not the form??*@

