@{
    ViewData["Title"] = "Get to Know Joel";
}
<h1>@ViewData["Title"]</h1>

<p>Get to know Joel here!! 
    Use this page to detail your site's privacy policy.</p>

@* <a href="@Url.Action("ActionName", "ControllerName")">Click Here for Baconsale</a>


https://www.qwcomedy.com/
https://baconsale.com/ *@

@* photo goes to baconsale.com *@