@{
    ViewData["Title"] = "Get to Know Joel";
}
<h1>@ViewData["Title"]</h1>

<br />
<p> Joel loves comedy and he regularly performs at Quick Wits Comedy</p>
<p>Learn more about <a href="https://www.qwcomedy.com/">Quick Wits Comedy</a>.</p>
<p>Learn more about <a href="https://baconsale.com/">Bacon Sale</a>.</p>

<br />
<a href="https://baconsale.com/">
<img src="~/baconsalekate.jpg" alt="Bacon Sale Photo">
</a>
<br />

@*
 *@
